package partials


templ Footer() {
    <footer class="w-full flex items-center justify-between">
        <div>Сделано <a href="https://about-me.davidshekunts.ru/" target="_blank">Давидом Шекунцем</a> с ♥️</div>
        <div>@templ.Raw("@2025")</div>
    </footer>
}