package partials

type FooterData struct {
    Text string
}

templ Footer(footer FooterData) {
    <footer class="w-full flex items-center justify-between">
        <div>@templ.Raw(footer.Text)</div>
        <div>@templ.Raw("@2025")</div>
    </footer>
}