package partials

type LogoData struct {
    Url string // URL for the logo image
    Alt string // Alternative text for the logo image
}

templ Logo(logo LogoData) {
    <img src={ logo.Url } alt={ logo.Alt }>
}