package partials


templ Footer() {
    <footer class="w-full flex items-center justify-between max-w-3xl mx-auto p-6">
        <div>Made by <a href="https://github.com/Dionid" target="_blank">David Shekunts</a> with ♥️</div>
        <div>@templ.Raw("@2024")</div>
    </footer>
}