package partials


templ Header() {
    <header class="flex w-full mb-6 items-center justify-center">
        <div class="flex w-full max-w-6xl p-6 items-center">
            <a href="/">
                @Logo()
            </a>
        </div>
    </header>
}