node_modules
*.log
.env
.env.db
.env.db.main
.env.db.gollum
dist
lib
coverage
junit.xml

.idea
*.iml

.DS_Store

.vscode
*.pyc

devspace.yaml

backups
node_modules
.env
.env.test
*.env
sync-script-db.json
dump/*

*.csv

junit.xml
junit_int.xml
junit_e2e.xml
junit_unit.xml

kconfig

cmd/saas/pb_data/*

ntp-saas-linux
ntp-saas-darwin