node_modules
*.log
.env
.env.db
.env.db.main

.idea
*.iml

.DS_Store

.vscode
*.pyc

devspace.yaml

backups
node_modules
.env
.env.test
*.env
dump/*

*.csv

junit.xml
junit_int.xml
junit_e2e.xml
junit_unit.xml

kconfig

cmd/teleblog/pb_data/*

teleblog-linux
teleblog-darwin