[Unit]
Description = teleblog

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/teleblog/info.log
StandardError  = append:/root/teleblog/errors.log
WorkingDirectory  = /root/teleblog
ExecStart      = /root/teleblog/teleblog-linux serve davidshekunts.ru davidshekunts.com

[Install]
WantedBy = multi-user.target