package views

import (
	"github.com/Dionid/teleblog/libs/templu"
)

templ BaseLayout() {
	<html data-theme="bumblebee">
		<head>
			<title>🦾 IT-Качалка Давида Шекунца 💪</title>
			<meta name="title" content="🦾 IT-Качалка Давида Шекунца 💪"/>
			<meta name="description" content="Меня зовут 👨🏻 Давид Шекунц 👴🏿 и здесь я рассказываю про разработку IT-продуктов"/>
			<meta property="og:site_name" content="🦾 IT-Качалка Давида Шекунца 💪"/>
			<meta property="og:title" content="🦾 IT-Качалка Давида Шекунца 💪"/>
			<meta property="og:description" content="Меня зовут 👨🏻 Давид Шекунц 👴🏿 и здесь я рассказываю про разработку IT-продуктов"/>
			<meta property="og:url" content="davidshekunts.ru"/>
			<meta property="og:image" content="https://davidshekunts.ru/public/link_preview.png"/>
			<meta property="og:type" content="website" />
			<meta name="twitter:card" content="summary_large_image"/>
			<meta property="twitter:domain" content="davidshekunts.ru"/>
			<meta property="twitter:url" content="https://davidshekunts.ru/"/>
			<meta name="twitter:title" content="Notion to presentation"/>
			<meta name="twitter:description" content="Меня зовут 👨🏻 Давид Шекунц 👴🏿 и здесь я рассказываю про разработку IT-продуктов"/>
			<meta name="twitter:image" content="https://davidshekunts.ru/public/link_preview.png"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href={ templu.PathWithVersion(ctx, "/public/style.css") } />
			<link rel="preconnect" href="https://fonts.googleapis.com" />
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
			<link rel="apple-touch-icon" sizes="57x57" href="/public/favico/apple-icon-57x57.png"/>
			<link rel="apple-touch-icon" sizes="60x60" href="/public/favico/apple-icon-60x60.png"/>
			<link rel="apple-touch-icon" sizes="72x72" href="/public/favico/apple-icon-72x72.png"/>
			<link rel="apple-touch-icon" sizes="76x76" href="/public/favico/apple-icon-76x76.png"/>
			<link rel="apple-touch-icon" sizes="114x114" href="/public/favico/apple-icon-114x114.png"/>
			<link rel="apple-touch-icon" sizes="120x120" href="/public/favico/apple-icon-120x120.png"/>
			<link rel="apple-touch-icon" sizes="144x144" href="/public/favico/apple-icon-144x144.png"/>
			<link rel="apple-touch-icon" sizes="152x152" href="/public/favico/apple-icon-152x152.png"/>
			<link rel="apple-touch-icon" sizes="180x180" href="/public/favico/apple-icon-180x180.png"/>
			<link rel="icon" type="image/png" sizes="192x192"  href="/public/favico/android-icon-192x192.png"/>
			<link rel="icon" type="image/png" sizes="32x32" href="/public/favico/favicon-32x32.png"/>
			<link rel="icon" type="image/png" sizes="96x96" href="/public/favico/favicon-96x96.png"/>
			<link rel="icon" type="image/png" sizes="16x16" href="/public/favico/favicon-16x16.png"/>
			<link rel="manifest" href="/public/favico/manifest.json"/>
			<meta name="msapplication-TileColor" content="#ffffff"/>
			<meta name="msapplication-TileImage" content="/public/favico/ms-icon-144x144.png"/>
			<meta name="theme-color" content="#ffffff"/>
		</head>
		<body>
			{ children... }
		</body>
		<script defer src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.min.js"></script>
		<link rel="stylesheet" href={ templu.PathWithVersion(ctx, "/public/custom.css") } />
	</html>
}